// IE specific styles

html {
	overflow: visible;
	min-height: 1px;
}

.site-nav.is-fixed {
	background-color: white;
}

.home .site-header,
.home .site-nav.is-fixed {
	// background-color: #010101;
	color: white;
}

.site-logo {
	height: 66px;
}

.container {	
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 2rem;
	padding-right: 2rem;

	@media only screen and (max-width: 47.9375em) { // 767px
	    .container {
	      padding-left: 1rem;
	      padding-right: 1rem;
	    }
	}
}

.container--text {
	max-width: 750px;

	padding-left: 0;
	padding-right: 0;
}

.container--full {
	max-width: 100vw;
}

.section {
	padding-top: 1px;

	&:not([style*="padding-bottom"]):not(.pad-bottom) {
		padding-bottom: 1px;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	margin-top: -2rem;
	margin-left: -2rem;

	> * {
		flex: 1 0 50%;
		max-width: calc(50% - 2rem);

		margin-top: 2rem;
		margin-left: 2rem;
	}
}

.estate-plan {
	overflow: hidden;

	svg {
		height: 96.09vw;
	}
}

.site-footer .container {
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;

	> * {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;

		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.bg-theme {
	.page-3-brindleyplace & {
		background-color: #93CEBD;
		color: white;
	}

	.page-4-brindleyplace & {
		background-color: #FBD5C8;
	}

	.page-oozells-building & {
		background-color: #E3E3E3;
	}
}
