.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #breadcrumbs {
        color: #7e7e7e;
        a {
            color: #7e7e7e;
        }

        .breadcrumb_last {
            color: white;
        }

        font-size: 13px;
        font-family: $font-stack-heading;
        font-weight: 400;

        .divider {
            margin: 0 4px;
        }
    }
}