.button {
    background-color: $green;
    font-family: $font-stack-heading;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .2s ease;

    &.button--small {
        padding: 10px 12px;
        font-size: 11px;
    }

    &:hover, &:focus, &:active {
        background-color: $dark;
        text-decoration: none;
    }
}

.button-group {
    .button {
        + .button {
            margin-left: 15px;
        }
    }
}