.flip-card {
    .flip-card__img {
        position: relative;
        display: block;

        img {
            max-width: 100%;
            height: auto;
        }

        &:after {
            background-color: rgba($green, 0.7);
            content: 'View Project';
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: absolute;
            text-transform: uppercase;
            font-family: $font-stack-heading;
            font-weight: 700;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease, visibility .2s ease;
        }

        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }

        &.flip-card__img--bg {
            padding-bottom: 60%;
            background-size: cover;

            &.flip-card__img--home {
                padding-bottom: 80%;
            }
        }
    }

    h3 {
        padding: 20px;
        background-color: #F6F6F6;
        font-size: 14px;

        a {
            color: $dark;
            transition: color .2s ease;

            &:hover {
                color: $green;
            }
        }
    }
}