.site-footer {
    background-color: $dark;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .line-title {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.sub-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .sub-footer__items {
        display: flex;
        font-size: 13px;

        @include media-breakpoint-down(md) {
            display: block;
        }

        > * {
            margin-left: 4px;
        }

        .menu {
            li {
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    display: block;
                }
                a {
                    color: #aaa;
                    font-weight: 600;
                    font-family: $font-stack-heading;
                    &:hover {
                        color: $green;
                    }
                }

                &:before {
                    content: '|';
                    margin: 0 5px;

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.footer-social {
    display: flex;

    a {
        display: block;
        height: 30px;
        width: 30px;

        svg {
            height: 30px;
            width: 30px;
        }

        + a {
            margin-left: 20px;
        }
    }
}