.footer-post {
    display: flex;

    .footer-post__img {
        height: 70px;
        width: 70px;
        min-width: 70px;
        margin-right: 10px;
    }

    .footer-post__meta {
        h5 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 13px;

            a {
                color: white;

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }
        }

        span {
            color: #aaa;
            font-size: 13px;
            display: block;
        }
    }

    + .footer-post {
        margin-top: 20px;
    }
}