.wpcf7-submit {
    box-shadow: none;
    border: none;
    cursor: pointer;
}

    .wpcf7 {
        max-width: 550px;
        p {
            display: flex;
            max-width: 550px;
            flex-wrap: wrap;

            label {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                margin-top: 15px;
            }

            > * {
                max-width: 50%;
                padding-right: 10px;

                border: none;

                input, select {
                    max-width: 100%;
                    margin-bottom: 10px;
                    border: 2px solid #DDD;
                }

                
            }

            input, textarea, select {
                font-size: 13px;
                padding: 10px;
            }

            .your-message {
                width: 100%;
                max-width: 100%;

                textarea {
                    width: 100%;
                    border: 2px solid #DDD;
                }
            }
        }
    }

#newsletter {
    .wpcf7, .wpcf7 p {
        max-width: 100%;
        width: 100%;
    }
}