.site-header {
    overflow: hidden;

    @include media-breakpoint-down(lg) {
        height: 70px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 90;
    }
}