.hero {
    background-image: url('../../static/images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.5rem;
    padding-bottom: 2.5em;

    .hero__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        padding-right: 20px;


        h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 28px;
        }

        .hero__list {
            margin-top: 30px;

            li {
                a {
                    color: white;
                    text-decoration: none;
                    height: 34px;
                    border-right: 34px solid $green;
                    display: inline-flex;
                    align-items: center;
                    padding-left: 10px;
                    padding-right: 30px;
                    background-color: rgba(0,0,0,0.5);
                    font-size: 18px;
                }

                + li {
                    margin-top: 4px;
                }
            }
        }
    }
}