.icon_box {
    height: 100%;
    display: flex;
    // flex-direction: column;

    .icon_box__image {
        min-width: 60px;
        margin-right: 20px;
        max-height: 60px;

        img {
            max-height: 60px;
            width: auto;
            max-width: 140px;
        }
    }

    .icon_box__content {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 18px;
            color: $dark;
            line-height: 1.2;
        }

        p {
            margin-bottom: 20px;
            margin-top: 15px;
        }

        .button {
            margin-top: auto;
            align-self: flex-start;
            margin-bottom: 3rem;
        }
    }

    &.icon_box--above {
        flex-direction: column;

        .icon_box__content {
            flex-grow: 1;
            margin-top: 20px;
        }
    }

}