.image-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    .image-box__content {
        margin-top: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        > * + * {
            margin-top: 15px;
        }

        p {
            margin-bottom: 20px;
            font-size: 16px;
        }

        h3 {
            color: #2a303c;
            font-size: 18px;
        }

        .button {
            margin-top: auto;
            align-self: center;
        }
    }
}