.line-title {
    font-size: 18px;
    color: $dark;

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        margin-top: 10px;
        background: $green;
    }
}

.light {
    .line-title {
        color: white;

        &:after {
            background: white;
        }
    }
}