a {
    color: $green;

    &.link {
        display: inline-block;
    }

    &:hover {
        // text-decoration: underline;
    }
}

.light {
    a {
        color: white;

        &:hover {
            color: $green;
        }
    }
}