.list {
    li {
        background-image: url('../../static/images/list.jpg');
        background-repeat: no-repeat;
        background-size: 7px;
        background-position: center left;
        padding-left: 20px;

        + li {
            margin-top: 5px;
        }
    }

    &.list--columns {
        columns: 2;

        @include media-breakpoint-down(sm) {
            columns: 1;
        }
    }
}