.logo-slide {
    border: 1px solid #ddd;
    padding: 20px;
    border-right: none;

    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.slider--clients {
    .slick-list {
        border-right: 1px solid #ddd;
        font-size: 0;
    }
}