.logo {
    display: inline-block;
    position: relative;
    padding-top: 1.35rem;
    padding-bottom: 1rem;
    background-color: $green;
    width: 100%;

    @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto;
    }

    img {
        width: 240px;
        max-width: 100%;

        @include media-breakpoint-down(lg) {
            width: 180px;
        }
    }

    &:before {
        content: '';
        background-color: $green;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 9999px;
        display: block;
    }

    &:after {
        content: '';
        background-color: $green;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 9999px;
        display: none;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }
}