.news-page-preview {

    h2 {
        a { 
            color: $dark;
            transition: color .2s ease;

            &:hover {
                color: $green;
                text-decoration: none;
            }
        }
    }

    .npp-flex {
        display: flex;
        justify-content: space-between;
    }


    
    + * {
        margin-top: 5rem;
    }
}

.news-page-preview__meta {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 15px;
    flex-grow: 1;
    margin-right: 30px;
    padding-bottom: 15px;
    font-family: $font-stack-heading;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    > span {
        color: #aaa;
        > span {
            color: $dark;
        }

        &:not(.date) {
            &:before {
                content: '|';
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 300;
            }
        }
    }
}