#newsletter {

    .wpcf7 {
        p {
            display: flex;
            margin-top: 25px;

            @include media-breakpoint-down(sm) {
                display: block;
            }

            span.your-email {
                flex-grow: 1;
            }

            > * {
                height: auto;
                display: flex;
                max-width: 100%;

                input {
                    height: 100%;
                    width: 100%;
                    margin-right: 20px;
                    border: none;
                    padding-left: 20px;

                    @include media-breakpoint-down(sm) {
                        height: 48px;
                        margin-bottom: 20px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}