.num-link {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 16px;

    @include media-breakpoint-down(xl) {
        display: none;
    }
}