.page-title {
    background-color: $dark;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
        font-size: 24px;
        line-height: 1.4;
        text-transform: uppercase;
        color: white;
    }
}