.post-preview {

}

.light {
    .post-preview {
        h3 {
            a {
                color: white;
                transition: color .2s ease;

                &:hover {
                    text-decoration: none;
                    color: $green;
                }
            }
        }
    }
}