.section {

    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-down(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &.light {
        color: white;
    }
    > .container {
        > * + * {
            margin-top: 2rem;
        }
    }

    &.section--narrow {
        > .container {
            > .row {
                max-width: 800px;
            }
        }
    }

    &.section--dark {
        background-color: $dark;
    }

}