.sidebar {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-down(lg) {
        order: 2;
    }

    .widget {
        margin-bottom: 30px;
    }

    .widget {
        h3, .widgettitle {
            font-size: 18px;
            color: $dark;
            margin-bottom: 30px;

            &:after {
                content: '';
                display: block;
                width: 30px;
                height: 3px;
                margin-top: 10px;
                background: $green;
            }
        }
    }

    .widget_recent_entries, .widget_archive {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding: 10px;
            border: 1px dotted #DFDFDF;
        }
    }

    .menu, .widget_recent_entries, .widget_archive {
        li {
            margin-right: 15px;
            margin-left: 10px;
            padding: 12px 0 12px 20px;
            border-bottom: 1px dotted #D6D6D6;

            a {
                color: #2f2f2f;
                transition: color .2s ease;
                position: relative;
                display: inline-block;

                &:before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23D6D6D6' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E");
                    position: absolute;
                    left: -25px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 11px;
                    background-size: 8px;
                    height: 100%;
                }

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }

            &:first-child {
                padding-top: 4px;
            }

            &.current-menu-item {
                a {
                    color: $green;
                }
            }
        }
    }
}