@include media-breakpoint-down(lg) {
    .site-nav {
        // display: none;
        display: block;
        position: fixed;
        background-color: rgba($dark,0.96);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 95;
        transform: translateX(-100%);
        transition: transform .2s ease;
        transform-origin: left;

        .site-nav__list {
            display: block;
            height: auto;
            padding-top: 145px;

            li {
                display: block;

                a {
                    color: white;
                    font-size: 20px;
                }

                + li {
                    margin-top: 20px;
                }
            }
        }

        &.is-open {
            transform: translateX(0);
        }

    }
}