.site-nav {
    height: 100%;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    .site-nav__list {
        list-style: none;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        
        li {
            height: 100%;
            padding-left: 19px;
            padding-right: 19px;

            a {
                height: 100%;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                text-decoration: none;
                color: $dark;
                font-family: $font-stack-heading;
                font-weight: 700;
                font-size: 13px;
                position: relative;
                transition: all .2s ease;

                &:after {
                    content: '';
                    height: 4px;
                    background-color: $green;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .2s ease;
                }

                &:hover {
                    color: $green;

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &.is-current {
                a {
                    color: $green;
                }
            }
        }
    }
}