/**
 * Default table styling.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;

	// Show captions at bottom of table
	caption {
		caption-side: bottom;
		padding-top: 0.5em;

		font-size: 0.9em;
	}

	// Relative padding and thin border
	th,
	td {
		padding: 0.25em 0.5em;
		border: 1px solid rgba(0,0,0,0.4);

		text-align: left;
	}
}
