body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

body {
  font-family: $font-stack-body;
  color: #7e7e7e;

  @include media-breakpoint-down(lg) {
    padding-top: 70px;
  }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $font-stack-heading;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  transition: color .2s ease;

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.6;
}

img {
  height: auto;
  max-width: 100%;
}