// Global project settings

/**
 * Set project font stacks.
 * Generic fallbacks are provided but should be tailored to the project.
 *
 * $sans-serif-fallback: Helvetica, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 * $serif-fallback: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
 */
$font-stack-body: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-heading: 'Montserrat', #{$font-stack-body};

$section-spacing-fallback: 4.5em;
$section-spacing: clamp(1.5em, 7.42vw, 4.5em);

$bp-mobile-nav: 900px;

/**
 * Set third-party variable overrides.
 * e.g. Slick, Bourbon
 */

// $slick-font-path: "../../static/slick/fonts/";
// $slick-loader-path: "../../static/slick/";
