// Project colour palette

/**
 * 2-step colour system.
 * A colour is defined using it's name, e.g. red, violet, peach
 * Then the possible use cases are defined referring to the named colours, e.g. $color-body, $color-header-bg.
 *
 * The use case variables are preferred for most styling cases
 * with the colour name variables being used as sparingly as possible
 */

$base-grey: #000;
$mid-grey: #7f7f7f;
$light-grey: #eaeaea;

$error-red: #d81e1e;
$warning-orange: #ff6700;
$success-green: #4bb543;

// BRAND PALETTE

$green: #2DCB73;
$dark: #2a303c;

// USE CASES

$color-text: $base-grey;
$brand-main: $green;
$brand-accent: $green;

$color-form-error: $warning-orange;
