.ac {
    border: none;
    background-color: transparent;

    .ac-trigger {
        background-color: $green;
        color: white;
        text-transform: uppercase;
        font-family: $font-stack-heading;

        &:focus {
            color: white;
        }
    }

    .ac-panel {
        background: transparent;

        .ac-text {
            background: transparent;
            color: white;
            font-family: $font-stack-body;
        }
    }

    &:first-of-type {
        margin-top: 0;
    }
}